<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>後台管理系統</title>
    <!-- Jquery JavaScript 文件 -->
    <script src="../static/js/jquery.min.js"></script>    
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <script src="../static/js/globalparam.js"></script>
</head>
<body>
    <div id="Login" style="margin-top: 50px;margin-left: 20px;">
        <p style="font-size: 30pt;">管理員登入</p>
        <div class="mb-3" style="width: 30%;">
            <label for="accountInput" class="form-label">帳號</label>
            <input type="text" class="form-control" id="accountInput">
        </div>
        <div class="mb-3" style="width: 30%;">
            <label for="passwordInput" class="form-label">密碼</label>
            <input type="text" class="form-control" id="passwordInput">
        </div>
        <button class="btn btn-primary" type="submit" id="loginBtn" style="margin-left: 25%;margin-top: 15px;" onclick="login()">登入</button>
    </div>  
    <script>
        $('#passwordInput').on('keyup', function(event){
            event.preventDefault();
            if (event.keyCode === 13) {
                $('#loginBtn').click();
            }
        });

        $(this).on('keyup', function(event){
            event.preventDefault();
            if (event.keyCode === 13) {
                $('#loginBtn').click();
            }
        });        

        function login(){
            let dataUrl = remoteUrl + "/manager/Login"
            let jsonData = { 
                             manAccount : $('#accountInput').val(),
                             manPassword : $('#passwordInput').val(),
                           }
            console.log(jsonData)
                       
            $.ajax({
                url: dataUrl,
                method: 'POST',
                dataType: 'text',
                data: JSON.stringify(jsonData),
                async: false,      
                contentType: 'application/json;charset=utf-8',
                cache: false,
            
                success: res => {
                    window.alert(res)
                    window.location.href = remoteUrl + "/back/CommodityManager.html";
                },
            
                error: err => {
                    console.log(err)
                    window.alert("登入失敗!, " + err.responseText)
                },
            });
        }
    </script>
</body>
</html>